<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<title>The Storyblok Astro Ultimate Tutorial: Part 1</title>
		<script>
			window.addEventListener("load", (event) => {
				// console.log("Nested-Preview iframe is fully loaded");
				// wait for 1 second
				setTimeout(() => {
					// send message to parent window
					window.parent.postMessage({ type: "iframeLoaded" }, "*");
				}, 300);
			});
		</script>
	</head>
	<body class='container mx-auto'>
		<slot />
	</body>
</html>
